h1 {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 50px;
  font-weight: 900;
  margin: 0px;
  margin-left: 100px;
}

.first {
  box-shadow: inset black 20px 20px 50px 50px;
  color: rgb(250, 246, 246);
  border-radius: 15px;
  border: 0x solid;
  width: 365px;
  height: 70px;
}
body {
  border-color: rgb(238, 242, 248);
  border-style: solid;
  border-radius: 5px;
  margin: 0;
  border-width: 3px;
  padding: 30px;
}
